[push]
	default = simple

[user]
	name = Aubrey Portwood
	email = aubreypwd@gmail.com

[core]
	editor = subl -n -w
	excludesfile = /Users/aubreypwd/.gitignore_global

[mergetool]
	prompt = false

[merge]
	tool = opendiff

[difftool]
	prompt = false

[diff]
	tool = subl -n -w

[mergetool "custom"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[color]
	ui = true

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[credential]
	helper = osxkeychain

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold

[color "branch"]
	remote = yellow
